body {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(#a2d2ff , #EFB0C9);
  color: white;
}

h1,
h2,
h3,
h4 {
  text-shadow: 0px 0px 1px black;
}

#me-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #efb0c9;
}

#bday-age {
  margin: 15px 0 10px 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

#bday-date {
  margin: 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1 {
  margin-bottom: 10px;
}

.title2 {
  margin-top: 0;
}

.gift-photo {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-image: url(../images/gift.jpg);
  background-size: cover;
  border: 6px solid white;
  border-radius: 10px;
}

.gift-section {
  margin-top: 60px;
}

.gift-photo:hover {
    background-image: url(../images/happy.gif);

}

#gift-1:hover {
    background-image: url(../images/happy.gif)
}

#gift-2:hover {
    background-image: url(../images/hot.webp)
}

#gift-3:hover {
    background-image: url(../images/genuis.webp)
}

#gift-4:hover {
    background-image: url(../images/badass.webp)

}

#gift-5:hover {
    background-image: url(../images/cheers.webp)
}
#gift-5 {
    height: 200px;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 30px ;
  
}
a {
    color: white;
}